<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium WebDriver" verbose="2">
    <test name="RUN ON CHROME BROWSERS">
        <parameter name="browser" value="Chrome"></parameter>
        <parameter name="version" value="latest"></parameter>
        <classes>
            <class name="testNG.Topic_09_Parameter"></class>
        </classes>
    </test>
    <test name="RUN ON FIREFOX BROWSERS">
        <parameter name="browser" value="Firefox"></parameter>
        <parameter name="version" value="latest"></parameter>
        <classes>
            <class name="testNG.Topic_09_Parameter"></class>
        </classes>
    </test>
</suite>